<% provide(:title, 'All users') %>
<h1>All Users</h1>

<%= will_paginate %>

<p>User Search</p>
<%= form_tag(users_path, method: :get) do %>
	<%= text_field_tag :search %>
	<%= submit_tag 'Search', :name => nil %>
<% end %>

<ul class="users">
	<% @users.each do |user| %>
		<!-- Railsは@users をUserオブジェクトのリストであると推測 -->
		<!-- さらに、ユーザーのコレクションを与えて呼び出すと、Railsは自動的にユーザーのコレクションを列挙し、それぞれのユーザーを_user.html.erbパーシャルで出力 -->
		<%= render @users %>
	<% end %>
</ul>

<%= will_paginate %>